# ======================
# CUSTOM (VERY IMPORTANT)
# ======================

# Logs
logs/
*.log

# Database (H2)
*.mv.db
*.trace.db

# Local data folder
data/

# OS files
.DS_Store
Thumbs.db

# Environment
.env